html {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--neutral-dark-main);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao-nft {
    background-color: var(--neutral-dark-card);
    max-width: 350px;
    border-radius: 15px;
    padding: 25px;
}

.link-nome-nft .nome-nft {
    color: #FFFFFF;
    font-size: 22px;
    margin: 25px 0 20px;
}

.descricao-nft {
    color: var(--primary-soft);
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
}

.informacoes-nft {
    display: flex;
    justify-content: space-between;
}

.informacoes-nft .valor-nft {
    color: var(--primary-medium);
}

.informacoes-nft .prazo-restante {
    color: var(--primary-soft);
}

.criador-card {
    display: flex;
    align-items: center;
}

.criador-card .avatar-criador {
    max-width: 34px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 15px;
}

.criador-card .texto {
    color: var(--primary-soft);
}

.criador-card .texto .nome-criador {
    color: #FFFFFF;
}

img {
    width: 100%;
    border-radius: 8px;
}